.Banner
{
    font: 48px monospace;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../Images/EncountersTop.png);
    width: 1920;
    height: 168;
    image-rendering: pixelated;
    z-index: 6;
    line-height: 64px;
    text-align: left;
    text-indent: 2%;
    justify-content: center;
    text-shadow: 2px 4px 0 gray;
    color: white;
    background-size:contain;
}

.Footer
{
    background-image: url(../Images/PokedexBottom.png);
    z-index: 3;
    position: absolute;
    left: 0;
    bottom: 0;
    image-rendering: pixelated;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 48;
}

@keyframes scroll {
    from   {background-position: 100%;}
    to  {background-position: 0%;}
}
@keyframes scroll2 {
    from   {background-position: 256px;}
    to  {background-position: 0px;}
}

.ScrollingArrows
{
    background-image: url(../Images/PokedexArrows.png);
    image-rendering: pixelated;
    z-index: 6;
    background-position: top left;
    background-size: contain;
    position: absolute;
    animation-name: scroll2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.MapIcon
{
    position: absolute;
    width: 80;
    height: 80;
    background-color: transparent;
    border-color: transparent;
    
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    transition: 0.2s;
    z-index: 12;
}
.MapIcon:hover
{
    background-size: 100%;
    color: rgb(251, 243, 105);
    text-shadow: 2px 1px rgb(170, 146, 48);
}

.CategoryButton
{
    image-rendering: pixelated;
    background-image: url("../Images/EncounterCategoryButton.png");
    background-size: 95%;
    background-position: center;
    background-position-x: 50%;
    background-repeat: no-repeat;
    position: absolute;
    
    font: 24px monospace;
    color: white;
    text-align: center;
    text-shadow: 1px 2px dimgray;
    line-height: 1.8;

    width: 160;
    height: 40;
    padding: 10px;
    transition: 0.2s;
    user-select: none;
    z-index: 10;
}

.CategoryButton:hover
{
    background-image: url("../Images/EncounterCategoryButton_Selected.png");
    color: rgb(251, 243, 105);
    text-shadow: 2px 1px rgb(170, 146, 48);
}

.PoolTitle
{
    font: 64px monospace;
    color: white;
    text-align: center;
    text-shadow: 3px 2px black;
    position: absolute;
    left: 550;
    width: 1200;
    top: 180;
    z-index: 14;
    pointer-events: none;
}

.PoolEntry
{
    padding-top: 0px;
    margin: 0px 8px;
    width: 22%;
    height: 10%;
    background-color: transparent;
    border-color: transparent;
    font: 28px monospace;
    color: white;
    text-align: left;
    text-indent: 5%;
    text-shadow: 2px 1px gray;
    background-image: url("../Images/EncounterPoolButton.png");
    
    background-position: left;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.2s;
}
.PoolEntry:hover
{
    background-image: url("../Images/EncounterPoolButton_Selected.png");
    color: rgb(251, 243, 105);
    text-shadow: 2px 1px rgb(170, 146, 48);
}

.piechart
{
    position: absolute;
    z-index: 12;
    left: 1000px;
    top: 425px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg,
        lightblue 0 235deg,
        orange 0 275deg,
        red 0
    );
}

.PoolPokemonIcon
{
    width: 128;
    height: 128;
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    position: absolute;
    font: 24px monospace;
    color: white;
    text-shadow: 2px 1px black;
    text-align: center;
    line-height: 280px;
    transition: 0.2s;
    pointer-events: none;
    border-radius: 40%;
}
.PoolPokemonIcon:hover
{
    background-size: 100%;
}
.PokeHitbox
{
    width: 128;
    height: 128;
    pointer-events: all;
    border-radius: 40%;
    background-position: center;
    position: absolute;
    cursor: pointer;
}

.BlackDropdown
{
    position: absolute;
    height: 28;
    width: 120;
    font: 20px monospace;
    background-color: black;
    outline: 2px outset yellow;
    color: white;
    z-index: 6;
}

.TypeIcon
{
    position: absolute;
    z-index: 11;
    background-image: url('../Images/TypeIcons/Normal.png');
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-color: transparent;
    width: 64;
    height: 24;
}